
notebooks/playground.ipynb
notebooks/.ipynb_checkpoints/playground-checkpoint.ipynb
notebooks/.ipynb_checkpoints/data_cleaning-checkpoint.ipynb
Prac_ignore/.ipynb_checkpoints/IF_prac-checkpoint.ipynb
Prac_ignore/IF_prac.ipynb
Prac_ignore/IsolationForest_prac.py
.spyproject/config/backups/codestyle.ini.bak
.spyproject/config/backups/encoding.ini.bak
.spyproject/config/backups/vcs.ini.bak
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/codestyle.ini
.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
.spyproject/config/defaults/defaults-encoding-0.2.0.ini
.spyproject/config/defaults/defaults-vcs-0.2.0.ini
.spyproject/config/defaults/defaults-workspace-0.2.0.ini
.spyproject/config/encoding.ini
.spyproject/config/vcs.ini
.spyproject/config/workspace.ini
data/output/playground_data.csv
notebooks/stat_playground.ipynb
notebooks/sample_expansion_prac.ipynb
notebooks/.ipynb_checkpoints/sample_expansion_prac-checkpoint.ipynb
data/output/playground_data.xlsx
data/output/Copy of playground_data.xlsx
data/input/prac_trial.csv
notebooks/debugging.py
notebooks/02.5_fetching_additional_records.ipynb
notebooks/.ipynb_checkpoints/02.5_fetching_additional_records-checkpoint.ipynb
notebooks/.ipynb_checkpoints/04_language_detection - Copy-checkpoint.ipynb
data/output/06_network_data.csv
notebooks/.ipynb_checkpoints/02.5_fetching_additional_records-checkpoint.ipynb
data/input/05_validation_sample.csv
*.xlsx
notebooks/.ipynb_checkpoints/02.5_fetching_additional_records-checkpoint.ipynb
notebooks/.ipynb_checkpoints/05_heuristic_validating_sample_generating_cleaning-checkpoint.ipynb
notebooks/.ipynb_checkpoints/02.5_fetching_additional_records-checkpoint.ipynb
notebooks/05_heuristic_validating_sample_generating_cleaning.ipynb
notebooks/.ipynb_checkpoints/02.5_fetching_additional_records-checkpoint.ipynb
notebooks/.ipynb_checkpoints/02.5_fetching_additional_records-checkpoint.ipynb
notebooks/hoodle.ipynb
Validation/Data/06_cleaned_validSample.csv
Validation/Data/07_labeled_validSample.csv
Validation/Data/author_abstract_sample_dd.csv
Validation/Data/phase1_sample.csv
Validation/Notebook/.ipynb_checkpoints/doodle-checkpoint.ipynb
Validation/Notebook/.ipynb_checkpoints/f1_scores-checkpoint.ipynb
Validation/Notebook/.ipynb_checkpoints/fetch_samples-checkpoint.ipynb
Validation/Notebook/.ipynb_checkpoints/hoodle-checkpoint.ipynb
Validation/Notebook/.ipynb_checkpoints/ML_stuff-checkpoint.ipynb
Validation/Notebook/doodle.ipynb
Validation/Notebook/f1_scores.ipynb
Validation/Notebook/fetch_samples.ipynb
Validation/Notebook/hoodle.ipynb
Validation/Notebook/ML_stuff.ipynb
data/input/phase1_doi_list.csv
notebooks/.ipynb_checkpoints/hoodle-checkpoint.ipynb
