
notebooks/playground.ipynb
notebooks/.ipynb_checkpoints
.spyproject
notebooks/stat_playground.ipynb
*.xlsx
crossref-venv/
.vscode/settings.json
*.omv
data/xml_data.csv
notebooks/figs
notebooks/descriptives.ipynb
venv/
